#heading:hover{
    color:blue;
}
.textcolor{
       color: red;
       background-color: blanchedalmond;
      
}
.ptext{
    font-size: 18px;
}

.bacon{
    background-color: blueviolet;
}
.brocoli{
    background-color: black;
}