
        body {
            background-color: lightcyan;
        }
        hr{
            border-style: none;
            border-top-style: dotted;
            border-width: 5px;
            border-color: rgb(197, 197, 197);
            width: 7%;

        }
        h1,h2,h3,h4,h5,h6{
            color: #66bfbf;
        }
 